# Thư mục build và dist (toàn cục)
build/
dist/

# Thư mục private của NetBeans
nbproject/private/

# Nếu có thư mục tương tự trong SWP thì cũng thêm (nếu cần)
SWP/nbproject/private/
SWP/build/



# Bỏ theo dõi file DBContext.java (chú ý đúng chữ hoa thường & đường dẫn)
src/java/DAO/DBContext.java




